<style>
  * {
    font-family: arial, sans-serif;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  th,
  td {
    padding: 8px;
  }
  span {
    font-weight: 800;
    padding-right: 5px;
  }
  h4,
  p {
    text-align: center;
  }
  .logo {
    padding-bottom: 10px;
    border-bottom: solid 4px #d3ae58;
  }
</style>
<div>
  <h2>Menssagem do site {{company}}</h2>
  <table>
    <tr>
      <td><span>ID:</span>{{id}}</td>
    </tr>
    <tr>
      <td><span>Nome:</span>{{name}}</td>
    </tr>
    <tr>
      <td><span>E-mail:</span>{{email}}</td>
    </tr>
    <tr>
      <td><span>Telefone:</span>{{phone}}</td>
    </tr>
    <tr>
      <td><span>Assunto:</span>{{subject}}</td>
    </tr>
    <tr>
      <td><span>Mensagem:</span></td>
    </tr>
    <tr>
      <td style="text-align: justify">{{messageEmail}}</td>
    </tr>
  </table>
</div>
